.Chatbox {
  height: 50rem;
  width: 30rem;
  background-color: #d8e1ff;
  border: black 2px solid;

  .MessageSent {
    display: flex;
    flex-direction: row-reverse;
    height: 3rem;
    margin-top: 0.5rem;
    img {
      margin-left: 1rem;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }
  }

  .MessageReceived {
    display: flex;
    height: 3rem;
    margin-top: 0.5rem;

    img {
      margin-right: 1rem;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }
  }
}
