.Layout {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Chatbox {
    height: 50rem;
    width: 30rem;
    background-color: #d8e1ff;
    border: black 2px solid;
  }
}
